<div class="page-header">
  <h1>Dome App <small>Fall 2016</small></h1>
</div>
<div class="jumbotron">
  <div class="row">
    <h1>Welcome to the Dome App  <span class="glyphicon glyphicon-stats" aria-hidden="true"></span></h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>RESTful API  <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span></h2>
      <%= image_tag("dome_flowchart.png", class: "img-responsive", alt: "Dome Flowchart") %>
      <p>More information to come...</p>
      <p><a class="btn btn-primary btn-md" href="#" role="button">API Docs</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Web App  <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span></h2>
      <p>More information to come...</p>
      <p><a class="btn btn-primary btn-md" href="#" role="button">Login</a></p>
    </div>
  </div>
</div>