<div class="page-header">
  <h1>Dome App <small>Fall 2016</small></h1>
</div>
<div class="jumbotron">
  <div class="row">
    <h1>Welcome to the Dome App</h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>RESTful API</h2>
      <%= image_tag("dome_flowchart.png", :alt => "Dome Flowchart") %>
      <p>More information to come...</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">API Docs</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Web App</h2>
      <p>More information to come...</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Login</a></p>
    </div>
  </div>
</div>