<footer class="footer">
  <div class="row">
    <div class="col-xs-2">
      <%= image_tag('dal_cs.png', class: 'img-responsive dal-logo-footer', alt: 'Dome Flowchart') %>
    </div>
    <div class="col-xs-10">
      <h4>Technology Innovation - CSCI 4193</h4>
      <h4>Fall 2016</h4>
    </div>
  </div>
</footer>